---
openapi: 3.0.2
info:
  title: Subscription API v.0.0.2
  version: 0.0.2
  description: |-
    Subscription management interface.
    TO DO: Add a full description of the purspose and how to use this API.
    TO DO: Add Disclaimer text.
    TO DO: Add missing permissions to the paths Security Requirements.
  contact:
    name: Team Kisko
    url: https://www.ericsson.com
    email: team-kisko@ericsson.net
  x-audience: external-public
  x-api-id: 96f61af0-7bba-45df-8f12-005042cf1e47
servers:
  - url: https://cm-sm.iot.ericsson.net/rest-api/subscriptions
    description: Subscription Management API server
paths:
  /subscriptions/requests/package-changes:
    summary: Subscription state change requests.
    description: Provides an endpoint for handling subscription requests for package
      changes.
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageChangeRequest'
            examples:
              package-change-example:
                value:
                  subscriptions:
                    identifier_type: IMSI
                    identifiers:
                      - "100000123456001"
                      - "100000123456002"
                  change:
                    subscription_package_id: 200200207_SP_01
                  on_behalf_of:
                    organization_id: 1.23.4
        required: true
      responses:
        "201":
          $ref: '#/components/responses/SubscriptionRequestResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal server error
      security:
        - Oauth2_auth:
            - subscription-service.write
      operationId: SubscriptionPackageChange
      summary: Create a package change request
      description: |-
        This API request creates a change subscription package request.
        The change can be requested for one or many subscription(s).
  /subscriptions/requests/state-changes:
    summary: Subscription state change requests.
    description: Provides an endpoint for handling subscription requests for state
      changes.
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateChangeRequest'
            examples:
              state-change-example:
                value:
                  subscriptions:
                    identifier_type: IMSI
                    identifiers:
                      - "100000123456001"
                      - "100000123456002"
                  change:
                    state: ACTIVE
                  on_behalf_of:
                    organization_id: 1.23.4
        required: true
      responses:
        "201":
          $ref: '#/components/responses/SubscriptionRequestResponse'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource not found
        "500":
          description: Internal server error
      security:
        - Oauth2_auth:
            - subscription-service.write
      operationId: SubscriptionStateChange
      summary: Create a state change request
      description: |-
        This API request creates a change subscription state request.
        The change can be requested for one or many subscription(s).
components:
  schemas:
    SubscriptionStateV1:
      type: string
      enum:
        - ACTIVE
        - DEACTIVATED
        - PAUSE
        - TERMINATED
        - ACTIVE_NO_BILLING
        - DEACTIVATED_NO_BILLING
    Problem:
      type: object
      properties:
        type:
          format: uri
          description: |
            An absolute URI that identifies the problem type. When dereferenced,it SHOULD provide
            human-readable documentation for the problem type (e.g., using HTML).
          default: about:blank
          type: string
          example: 2ZDXFGH.-'http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4'
        title:
          description: |
            A short, summary of the problem type. Written in english and readable for engineers (usually not suited
            for non technical stakeholders and not localized.
          type: string
          example: Service Unavailable
        status:
          format: int32
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          maximum: 600
          exclusiveMaximum: true
          minimum: 100
          type: integer
          example: 503
        detail:
          description: A human readable explanation specific to this occurrence of
            the problem.
          type: string
          example: Connection to database timed out.
        instance:
          format: uri
          description: An absolute URI that identifies the specific occurrence of
            the problem. It may or may not yield further information if dereferenced.
          type: string
          example: https://api.documentation.url/request-id
    SubscriptionRequestResponseType:
      title: SubscriptionRequestResponseType
      description: |-
        Response type for successfully created subscription request.
        The subscription_request_id in the response can be used in a query to the endpoint 'GET /subscriptions/requests/{requestId}' to get the status of subscription request job.
      required:
        - subscription_request_id
      type: object
      properties:
        subscription_request_id:
          description: The request id returned for the subscription change request.
          type: string
      example:
        subscription_request_id: REQ201234567890
    OrganizationId:
      description: Organization_id type
      type: object
      properties:
        organization_id:
          description: |-
            Id of the organization.
            Format: "1.23.4"
          type: string
      example:
        organization_id: 3.78.37
    OrganizationType:
      oneOf:
        - $ref: '#/components/schemas/CompanyId'
        - $ref: '#/components/schemas/OrganizationId'
      title: OrganizationType
      description: |-
        Used to identify the organization.
        Either one of the properties 'organization_id' or 'company_id' must be given.
      type: object
      example: |-
        {
            "organization_id": "3.78.37",
        }
    StateChange:
      title: StateChangeData
      description: Contains the data for an state change.
      required:
        - state
      type: object
      properties:
        state:
          description: The subscrition state to change to.
          type: string
          x-extensible-enum:
            - ACTIVE
            - DEACTIVATED
            - PAUSE
            - TERMINATED
      example:
        state: PAUSE
    StateChangeRequest:
      description: The model for a subscription state change request.
      required:
        - subscriptions
        - change
      type: object
      properties:
        subscriptions:
          $ref: '#/components/schemas/SubscriptionList'
        change:
          $ref: '#/components/schemas/StateChange'
        on_behalf_of:
          $ref: '#/components/schemas/OrganizationType'
      example:
        subscriptions:
          identifier_type: IMSI
          identifiers:
            - "100000123456001"
            - "100000123456002"
        change:
          state: PAUSE
        on_behalf_of:
          organization_id: 1.23.4
    PackageChangeRequest:
      description: The model for a subscription package change request.
      required:
        - subscriptions
        - change
      type: object
      properties:
        subscriptions:
          $ref: '#/components/schemas/SubscriptionList'
        change:
          $ref: '#/components/schemas/PackageChange'
        on_behalf_of:
          $ref: '#/components/schemas/OrganizationType'
      example:
        subscriptions:
          identifier_type: IMSI
          identifiers:
            - "100000123456001"
            - "100000123456002"
        change:
          subscription_package_id: 200200207_SP_01
        on_behalf_of:
          organization_id: 1.23.4
    SubscriptionList:
      title: SubscriptionList
      description: |-
        Used to identify a list of subscriptions.
        The identifier can be of the type:
        - IMSI
        - MSISDN
        - ICC
      required:
        - identifiers
        - identifier_type
      type: object
      properties:
        identifier_type:
          description: |-
            The type of the values for the items.
            Value can be: IMSI, MSISDN, ICC
          type: string
          x-extensible-enum:
            - IMSI
            - MSISDN
            - ICC
        identifiers:
          description: The identifier of the subscription. The type of the identifier
            is given by the property "identifier_type".
          type: array
          items:
            type: string
      example:
        identifier_type: IMSI
        identifiers:
          - "100000123456001"
          - "100000123456002"
          - "100000123456003"
    CompanyId:
      description: Company_id type
      type: object
      properties:
        company_id:
          deprecated: true
          description: |-
            Id of the organization.
            Format: "12345678".
            Deprecated.
          type: string
      example:
        company_id: "78000037"
    PackageChange:
      title: PackageChangeData
      description: Contains the data for an package change.
      required:
        - subscription_package_id
      type: object
      properties:
        subscription_package_id:
          description: The Subscription Package to change to.
          type: string
      example:
        subscription_package_id: 200200207_SP_01
  responses:
    SubscriptionRequestResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubscriptionRequestResponseType'
          examples:
            subscription-request-response-example-1:
              value:
                subscription_request_id: REQ201234567890
      description: The response from a sucessfully created request.
  securitySchemes:
    Oauth2_auth:
      flows:
        password:
          tokenUrl: https://identity.iot.ericsson.com/oauth2/token
          scopes:
            subscription-service.read: Access right needed to read from the Subscription
              service.
            subscription-service.write: Access right needed to write to the Subscription
              service.
      type: oauth2
tags:
  - name: SubscriptionManagementAPI
    description: ""
